.header-color {
  background: #B2FEFA;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0ED2F7, #B2FEFA);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0ED2F7, #B2FEFA);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.landing-grid {
  background: #B2FEFA;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0ED2F7, #B2FEFA);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0ED2F7, #B2FEFA);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.avatar-image {
  height: 250px;
  margin-top: 5em;
  border-radius: 130px;
}

.banner-text {
  background-color: black;
  opacity: .7;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  font-size: 66px;
  font-weight: bold;
  color: white;
}

.banner-text hr {
  border-top: 5px dotted whitesmoke;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
}

.social-links {
  color: white;
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: auto;
}

.social-links i {
  color: white;
  font-size: 5em;
  padding: 8px;
}