/* header css */
.header-color {
  background: #B2FEFA;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0ED2F7, #B2FEFA);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0ED2F7, #B2FEFA);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/* landing page css */

.landing-grid {
  background-image: url("https://media.npr.org/assets/img/2020/03/13/gettyimages-667018224_wide-e69134a24ff79fd3a338ff83661815c6299e58bd-s800-c85.jpg");
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.banner-text {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  border: 2px solid blueviolet;
}

.banner-text h1 {
  font-size: 66px;
  font-weight: bold;
  /* color: rgb(0, 255, 242); */
}

.banner-text hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.banner-text p {
  /* color: white; */
  font-size: 20px;
  padding: 1em;
}

.banner-text a {
  text-decoration: none;
}

.social-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: auto;
}

.social-links i {
  font-size: 5em;
  padding: 8px;
}

/* resume page css */
.resume-grid {
  background-image: url("https://cdn-media-1.freecodecamp.org/images/1*zVDcaM6mqhi9m0LP_Sq4Ag.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.resume-col-bottom-left {
  color: white;
  flex-wrap: wrap;
}

.resume-col-bottom-left-header,
.resume-col-bottom-right-header {
  width: 100%;
  text-align: center;
  margin-top: -2em;
}

.resume-col-bottom-left-skills {
  background-color: rgba(255, 250, 240, 0.66);
  color: black;
  display: flex;
  flex-direction: column;
  margin: 1em;
  text-align: center;
  border-radius: 15px;
  justify-content: space-around;
}

.resume-col-bottom-right {
  color: white;
  height: 50em;
}

.resume-col-bottom-right-experience {
  background-color: rgba(255, 250, 240, 0.66);
  display: flex;
  flex-direction: column;
  color: black;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 15px;
}

/* projects page css */
.projects-grid {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  height: 50em;
}

.project-grid-style {
  height: 50em;
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  background-image: url(./images/clean-textile.png);

}

.card-text {
  background: #B2FEFA;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0ED2F7, #B2FEFA);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0ED2F7, #B2FEFA);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card:active {
  cursor: pointer;
}

.card-body {
  height: 176px;

}

.modal {
  height: 300px;
  background-color: blue;
}


/* contact page css */
.contact-body {
  margin: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
  background-color: #fcfcfc;
  background-image: url(./images/clean-textile.png);
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;
  margin-bottom: 20px;
  background-color: #fcfcfc;
  background-image: url(./images/clean-textile.png);
}

.contact-grid h2 {
  /* font-family: "Anton", sans-serif; */
}

.contact-grid p {
  /* font-family: "Oxygen", sans-serif; */
  font-weight: bold;
}

.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto
}

.contact-grid i {
  font-size: 66px;
  padding-right: 5rem;
}

.contact-image {
  height: 350px;
}