/* header css */
.header-color {
  background: #B2FEFA;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0ED2F7, #B2FEFA);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0ED2F7, #B2FEFA);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/* landing page css */

.landing-grid {
  background: #B2FEFA;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0ED2F7, #B2FEFA);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0ED2F7, #B2FEFA);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.image-container {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 12em;
  padding-bottom: 15em;
}

.avatar-image {
  height: 350px;
  margin-top: 10em;
  border-radius: 40px;

}

.banner-text {
  /* border: 2px solid purple; */
  /* background-color: black; */
  opacity: .7;
  width: 75%;
  margin: auto;
  border-radius: 10px;
  margin-top: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 6em;
}

.banner-text h1 {
  font-size: 66px;
  font-weight: bold;
  /* color: white; */
}

.banner-text h3 {
  /* color: white; */
}



.banner-text hr {
  border-top: 5px dotted #C65A85;
  width: 50%;
  margin: auto;
}

.banner-text p {
  /* color: white; */
  font-size: 20px;
  padding: 1em;
}

.banner-text a {
  color: #C65A85;
  text-decoration: none;
}

.social-links {
  /* color: white; */
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: auto;
}

.social-links i {
  /* color: white; */
  font-size: 5em;
  padding: 8px;
}

/* resume page css */
.resume-col-bottom-left {
  background-color: darkseagreen;
  color: white;
  height: 50em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.resume-col-bottom-left-header {
  width: 100%;
  text-align: center;
  /* background-color: darkturquoise; */
  margin-bottom: -10em;
  /* padding-bottom: -100px; */
}

.resume-col-bottom-left-skills {
  background-color: floralwhite;
  color: black;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  width: 40%;
  margin: 1em;
  text-align: center;
  border-radius: 15px;
}

.resume-col-bottom-right {
  background-color: burlywood;
  color: white;
  height: 50em;
}

/* projects page css */
.projects-grid {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  /* background-color: aquamarine; */
  height: 50em;
}

.contact-grid {
  color: aquamarine;
}

.card-body {
  height: 176px;
}



/* about me page css */
.about-me-col-left {
  background-color: hotpink;
}

.about-me-col-center {
  background-color: honeydew
}

.about-me-col-right {
  background-color: thistle;
}

/* contact page css */
.contact-body {
  margin: auto;

  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;

  margin-bottom: 20px;
}

.contact-grid h2 {
  font-family: "Anton", sans-serif;
}

.contact-grid p {
  font-family: "Oxygen", sans-serif;
  font-weight: bold;
}

.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto
}

.contact-grid i {
  font-size: 66px;
  padding-right: 5rem;
}