/* header css */
.header-color {
  background: #B2FEFA;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0ED2F7, #B2FEFA);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0ED2F7, #B2FEFA);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/* landing page css */

.landing-grid {
  background: #B2FEFA;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0ED2F7, #B2FEFA);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0ED2F7, #B2FEFA);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.banner-text {
  /* border: 2px solid purple; */
  opacity: .7;
  display: flex;
  align-items: center;
  padding-right: 6em;
}

.banner-text h1 {
  font-size: 66px;
  font-weight: bold;
  /* color: white; */
}

.banner-text hr {
  border-top: 5px dotted #C65A85;
  width: 50%;
  margin: auto;
}

.banner-text p {
  /* color: white; */
  font-size: 20px;
  padding: 1em;
}

.banner-text a {
  color: #C65A85;
  text-decoration: none;
}

.social-links {
  /* color: white; */
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: auto;
}

.social-links i {
  /* color: white; */
  font-size: 5em;
  padding: 8px;
}

/* resume page css */
.resume-grid {
  background-image: url("https://cdn-media-1.freecodecamp.org/images/1*zVDcaM6mqhi9m0LP_Sq4Ag.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.resume-col-bottom-left {
  color: white;
  /* height: 50em; */
  /* display: flex; */
  flex-wrap: wrap;
  /* justify-content: space-around; */
  /* background-color: lightpink; */
}

.resume-col-bottom-left-header,
.resume-col-bottom-right-header {
  width: 100%;
  text-align: center;
  margin-top: -2em;
}

.resume-col-bottom-left-skills {
  background-color: rgba(255, 250, 240, 0.66);
  color: black;
  display: flex;
  flex-direction: column;
  /* width: 40%; */
  margin: 1em;
  text-align: center;
  border-radius: 15px;
  justify-content: space-around;
  /* margin-bottom: 10em; */
  /* height: 200px; */
  /* margin-left: 10em; */
}

.resume-col-bottom-right {
  color: white;
  height: 50em;
}

.resume-col-bottom-right-experience {
  background-color: rgba(255, 250, 240, 0.66);
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  color: black;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 15px;
}

/* projects page css */
.projects-grid {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  height: 50em;
}

.project-grid-style {
  height: 50em;
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  /* background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); */
  /* background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%); */
  /* background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%); */
  /* background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255, 255, 255, 0.50) 47%, rgba(0, 0, 0, 0.50) 100%);
  background-blend-mode: screen; */
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);

}

/* .contact-grid {
  color: aquamarine;
} */

.card-body {
  height: 176px;
}


/* contact page css */
.contact-body {
  margin: auto;

  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;

  margin-bottom: 20px;
}

.contact-grid h2 {
  font-family: "Anton", sans-serif;
}

.contact-grid p {
  font-family: "Oxygen", sans-serif;
  font-weight: bold;
}

.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto
}

.contact-grid i {
  font-size: 66px;
  padding-right: 5rem;
}

.contact-image {
  height: 350px;
}